@model InvoiceResponse
@{
    ViewBag.Title = "Detail - Invoice";
    ViewBag.CurrentPage = "Invoices";
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Invoices/</span> Detail</h4>

<div class="row justify-content-md-center">
    <div>
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Invoice Details</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <label class="col-sm-3 lead" for="InvoiceNumber">Invoice Number</label>
                    <div class="col-sm-6">
                        <p class="lead mt-1 mb-0">@Model.InvoiceNumber</p>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-3 lead" for="DueDate">Due Date</label>
                    <div class="col-sm-6">
                        <p class="lead mt-1 mb-0">@Model.DueDate?.ToString("MM/dd/yyyy")</p>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-3 lead" for="CustomerName">Customer Name</label>
                    <div class="col-sm-6">
                        <p class="lead mt-1 mb-0">@Model.CustomerName</p>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 lead" for="CustomerAddress">Customer Address</label>
                    <div class="col-sm-6">
                        <p class="lead mt-1 mb-0">@Model.CustomerAddress</p>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 lead" for="CustomerAddress">Products</label>
                </div>
                <div class="row mb-3">
                    <div class="table-responsive text-nowrap">
                        <table class="table table-bordered" id="ProductTable">
                            <thead>
                                <tr>
                                    <th class="col-6">Product Name</th>
                                    <th class="col-2 text-center">Product Price</th>
                                    <th class="col-1 text-center">Quantity</th>
                                    <th class="col-2 text-center">Total Price</th>
                                    <th class="col-1 text-center">Action</th>
                                </tr>
                            </thead>
                            <tbody class="table-border-bottom-0">
                                @foreach (InvoiceProductResponse invoiceProduct in Model.InvoiceProducts)
                                {
                                    @await Html.PartialAsync("_InvoiceProductRow", new InvoiceProductUpdateRequest()
                                    {
                                        InvoiceId = Model.InvoiceId,
                                        InvoiceProductId = invoiceProduct.InvoiceProductId,
                                        ProductName = invoiceProduct.ProductName,
                                        ProductPrice = invoiceProduct.ProductPrice,
                                        Quantity = invoiceProduct.Quantity,
                                        TotalPrice = invoiceProduct.TotalPrice,
                                    })
                                }

                                @if (Model.InvoiceProducts.Count == 0)
                                {
                                    <tr class="table-secondary text-center">
                                        <td colspan="5">No data available in table.</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAddProduct">Add Product</button>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-9 lead text-end" for="TotalPrice">Total Price</label>
                    <div class="col-sm-3 text-end">
                        <h3 for="TotalPrice">@Model.TotalPrice.ToString("C")</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <a asp-controller="Invoices" asp-action="Index" class="btn btn-secondary">Back</a>
                        <a asp-controller="Invoices" asp-action="Edit" asp-route-id="@Model.InvoiceId" class="btn btn-primary ms-1">Edit Details</a>
                        <a asp-controller="Invoices" asp-action="Print" asp-route-id="@Model.InvoiceId" class="btn btn-info ms-1" target="_blank">Print Invoice</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_InvoiceProductAddModal", new InvoiceProductAddRequest() { InvoiceId = Model.InvoiceId })


<!-- Modal Confirm Delete-->

<div class="modal fade" id="ConfirmDeleteProductModal" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Product Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="card-text">Are you sure you want to delete this product? This action cannot be undone.</p>

                <p class="card-text">
                    Product Name: <span id="DeleteProductName"></span>
                </p>

                <p class="card-text"><small class="text-muted">By deleting this item, you will permanently remove it from your records. This action cannot be undone. Please confirm that you want to proceed with the deletion.</small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>

                <form asp-controller="Invoices" asp-action="DeleteInvoiceProduct" method="post" id="DeleteInvoiceProductForm">
                    <input type="hidden" name="InvoiceId" id="InvoiceIdToDelete" />
                    <input type="hidden" name="InvoiceProductId" id="InvoiceProductIdToDelete" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- /Modal -->

@section scripts
     {
    <script>function editRow(button) {
            var row = $(button).parent().parent();
            row.find('.row-input').show();
            row.find('.display-label').hide();
            row.find('.btn-delete-product').hide();
            row.find('.btn-edit-product').hide();
            row.find('.btn-submit-product').show();
            row.find('.btn-cancel-product').show();
        }

        function cancelEdit(button) {
            var row = $(button).parent().parent();
            row.find('.row-input').hide();
            row.find('.display-label').show();
            row.find('.btn-delete-product').show();
            row.find('.btn-edit-product').show();
            row.find('.btn-submit-product').hide();
            row.find('.btn-cancel-product').hide();
        }

        function confirmDeleteInvoiceProduct(invoiceId, invoiceProductId, productName) {
            $('#DeleteProductName').text(productName);
            $('#InvoiceIdToDelete').val(invoiceId)
            $('#InvoiceProductIdToDelete').val(invoiceProductId)
        }</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js" asp-fallback-test="window.jQuery.validator" asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" asp-fallback-test="window.jQuery.validator.unobstrusive" asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}